<%= form_for(@research_appointment_purpose) do |f| %>
  <% if @research_appointment_purpose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@research_appointment_purpose.errors.count, "error") %> prohibited this research_appointment_purpose from being saved:</h2>

      <ul>
      <% @research_appointment_purpose.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
