<h1>Listing research_appointments</h1>

<table>
  <tr>
    <th>Submit time</th>
    <th>Researcher</th>
    <th>Appointment purpose</th>
    <th>Arrival time</th>
    <th>Departure time</th>
    <th>Topic</th>
    <th>Researcher comments</th>
    <th>Archivist comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @research_appointments.each do |research_appointment| %>
  <tr>
    <td><%= research_appointment.submit_time %></td>
    <td><%= research_appointment.researcher_id %></td>
    <td><%= research_appointment.appointment_purpose_id %></td>
    <td><%= research_appointment.arrival_time %></td>
    <td><%= research_appointment.departure_time %></td>
    <td><%= research_appointment.topic %></td>
    <td><%= research_appointment.researcher_comments %></td>
    <td><%= research_appointment.archivist_comments %></td>
    <td><%= link_to 'Show', research_appointment %></td>
    <td><%= link_to 'Edit', edit_research_appointment_path(research_appointment) %></td>
    <td><%= link_to 'Destroy', research_appointment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Research appointment', new_research_appointment_path %>
