<h1>Listing accession_location_entries</h1>

<table>
  <tr>
    <th>Accession</th>
    <th>Location</th>
    <th>Content</th>
    <th>Range value</th>
    <th>Section</th>
    <th>Shelf</th>
    <th>Extent</th>
    <th>Extent unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accession_location_entries.each do |accession_location_entry| %>
  <tr>
    <td><%= accession_location_entry.accession_id %></td>
    <td><%= accession_location_entry.location_id %></td>
    <td><%= accession_location_entry.content %></td>
    <td><%= accession_location_entry.range_value %></td>
    <td><%= accession_location_entry.section %></td>
    <td><%= accession_location_entry.shelf %></td>
    <td><%= accession_location_entry.extent %></td>
    <td><%= accession_location_entry.extent_unit_id %></td>
    <td><%= link_to 'Show', accession_location_entry %></td>
    <td><%= link_to 'Edit', edit_accession_location_entry_path(accession_location_entry) %></td>
    <td><%= link_to 'Destroy', accession_location_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accession location entry', new_accession_location_entry_path %>
